<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Street Address</th>
                            <th>City</th>
                            <th> State</th>
                            <th>PostalCode</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userData | slice: (page-1) * pageSize : page * pageSize
                        let i = index">
                            <!-- {{user | json}} -->
                            <th scope="row">{{user.firstName}}</th>
                            <td>{{user.lastName}}</td>
                            <td>{{user.gender}}</td>
                            <td>{{user.age}}</td>
                            <td>{{user.streetAddress}}</td>
                            <td>{{user.city}}</td>
                            <td>{{user.state}}</td>
                            <td>{{user.postalCode}}</td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userData.length"></ngb-pagination>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->