<div class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4" *ngIf="!userAdd">
        <div class="card-header py-3 row" style="margin:0px;">
            <h6 class="col-md-6 m-0 font-weight-bold text-primary">Student Details</h6>
            <div class="col-md-6 text-right">
                <button class="btn btn-success btn-sm" (click)="adduser()">ADD USER</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Street Address</th>
                            <th>City</th>
                            <th> State</th>
                            <th>PostalCode</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userData | slice: (page-1) * pageSize : page * pageSize
                        let i = index">
                            <!-- {{user | json}} -->
                            <th scope="row">{{user.firstName}}</th>
                            <td>{{user.lastName}}</td>
                            <td>{{user.gender}}</td>
                            <td>{{user.age}}</td>
                            <td>{{user.streetAddress}}</td>
                            <td>{{user.city}}</td>
                            <td>{{user.state}}</td>
                            <td>{{user.postalCode}}</td>
                            <td><button class="btn btn-primary btn-sm">VIEW</button></td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userData.length"></ngb-pagination>
            </div>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4" *ngIf="userAdd">
        <div class="card-header py-3 row" style="margin:0px;">
            <h6 class="col-md-6 m-0 font-weight-bold text-primary">Add Student</h6>
            <div class="col-md-6 text-right">
                <button class="btn btn-success btn-sm" (click)="adduser()">Back</button>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="onSubmitUser()" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Name</label>
                        <input type="test" formControlName="name" name="name" class="form-control" placeholder="Name">
                        <div *ngIf="submitted && f.name.errors">
                            <div style="color: red;" *ngIf="f.name.errors.required">Name is required</div>
                        </div>

                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" formControlName="email" name="email" class="form-control" placeholder="Email">
                        <div *ngIf="submitted && f.email.errors">
                            <div style="color: red;" *ngIf="f.email.errors.required">Email is required</div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" formControlName="address" name="address" class="form-control" placeholder="1234 Main St">
                    <div *ngIf="submitted && f.address.errors">
                        <div style="color: red;" *ngIf="f.address.errors.required">Address is required</div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" formControlName="address1" name="address1" class="form-control" placeholder="Apartment, studio, or floor">
                    <div *ngIf="submitted && f.address1.errors">
                        <div style="color: red;" *ngIf="f.address1.errors.required">Address 2 is required</div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" formControlName="city" name="city" class="form-control">
                        <div *ngIf="submitted && f.city.errors">
                            <div style="color: red;" *ngIf="f.city.errors.required">city is required</div>
                        </div>

                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select formControlName="state" name="state" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                        </select>
                        <div *ngIf="submitted && f.state.errors">
                            <div style="color: red;" *ngIf="f.state.errors.required">city is required</div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" formControlName="zip" name="zip" class="form-control">
                        <div *ngIf="submitted && f.zip.errors">
                            <div style="color: red;" *ngIf="f.zip.errors.required">city is required</div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
                <div class="col-md-6">
                    <pre style="padding: 20px;background: #ccc;margin: 10px;">{{this.userForm.value | json}}</pre>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->